@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format(truetype);
}

* {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
    filter: drop-shadow(2px 2px 4px black);
}

.encabezado {
    
    grid-area: encabezado;
}

.principal {
   
    grid-area: principal;
}

.pie {
    
    grid-area: pie;
}

.logo-nav {
    display: block;
    justify-content: center;
}

.navegacion h3 {
    display: block;
    text-align: end;
    line-height: 1px;
}

.principal img {
    width: 100%;
    padding-bottom: 100px;
}

.principal h2 {
    text-align: center;
    line-height: 1px;
}

/* seccion servicios*/
.principal2 {
    
    box-shadow: 0px 0px 40px  black;
    grid-area: principal2;
}

.principal3 {
    
    box-shadow: 0px 0px 40px  black;
    grid-area: principal3;
}

.principal4 {
    
    box-shadow: 0px 0px 40px  black;
    grid-area: principal4;
}

.principal2 img, .principal3 img, .principal4 img   {
    height: auto;
    padding-bottom: 20px;
}

.principal2 p, .principal3 p, .principal4 p {
    font-weight: bold;
    text-align: justify;
    margin: 20px;
}

.principal .titulo-servicios {
    text-align: center;
    padding-top: 50px;
}

/*quienes somos*/
.principal5 {
    grid-area: principal5;
}

.principal6 {
    grid-area: principal6;
}

.contenedor3 img {
    width: 500px;
    height: 300px;
}

.contenedor3 p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

/* seccion contacto*/

.principal7 {
    grid-area: principal7;
}

.principal8 {
    grid-area: principal8;
}

.principal8 h2, .principal8 h3 {
    text-align: left;
}


@media (min-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100dvh 10dvh;
        gap: 10px;
        grid-template-areas: "encabezado"
            "principal"
            "pie";
    }

    .contenedor2 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-left: 80px;
        margin-right: 80px;
        gap: 50px;
        grid-template-areas: "principal2 principal3 principal4";
    }

    .contenedor3 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80dvh;
        margin-left: 80px;
        margin-right: 80px;
        gap: 50px;
        grid-template-areas: "principal5 principal6";
    }

    .contenedor4 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80dvh;
        margin-left: 80px;
        margin-right: 80px;
        gap: 50px;
        grid-template-areas: "principal7 principal8";
    }

    
}

@media (max-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 10dvh;
        gap: 10px;
        grid-template-areas: "encabezado"
            "principal"
            "pie";
    }

    .principal2, .principal4, .principal3   {
        box-shadow: 1px 1px 3px  black;
        gap: 10px
    }
    
    .principal2 h3, .principal4 h3, .principal4 h3 {
        text-align: center;
    }



    .contenedor3 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        grid-template-areas: "principal5" 
        "principal6";
    }

    .contenedor3 img {
        width: 300px;
        height: 100px;
    }

    .contenedor3 p {
        text-align: justify;
    }

    .principal h2 {
        text-align: center;
        line-height: 1px;
        font-size: 14px;
    }

    .principal img {
        width: 100%;
        padding-bottom: 20px;
    }
}