@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format(truetype);
}

* {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    filter: drop-shadow(0px 5px 1px rgb(172, 172, 172));
}

.encabezado {

    grid-area: encabezado;
}

.principal {

    grid-area: principal;
}

.pie {

    grid-area: pie;
}

.logo-nav .navegacion {
    display: flex;
    
    align-items: flex-end;
}

.logo-nav .navegacion .menu {

    display: flex;
    width: 100%;
    justify-content: end;
}

.principal img {
    width: 100%;
    padding-bottom: 100px;
}

.principal h2 {
    text-align: center;
    line-height: 1px;
}

/* seccion servicios*/
.principal2 {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 5px 1px rgb(187, 187, 187);
    grid-area: principal2;
}

.principal3 {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 5px 1px rgb(187, 187, 187);
    grid-area: principal3;
}

.principal4 {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 5px 1px rgb(187, 187, 187);
    grid-area: principal4;
}

.principal2:hover,
.principal3:hover,
.principal4:hover {
    transform: scale(1.02);
}

.principal2 img,
.principal3 img,
.principal4 img {
    height: auto;
    padding-bottom: 20px;
}

.principal2 p,
.principal3 p,
.principal4 p {
    font-weight: bold;
    text-align: justify;
    margin: 20px;
}

.principal .titulo-servicios {
    text-align: center;
    padding-top: 50px;
}

/*quienes somos*/
.principal5 {
    grid-area: principal5;
}

.principal6 {
    grid-area: principal6;
}

.contenedor3 img {
    width: 300px;
    height: 200px;
}

.contenedor3 p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

/* seccion contacto*/

.principal7 {
    grid-area: principal7;
}

.principal8 {
    display: flex;
    flex-direction: column;
    height: 80%;
    grid-area: principal8;
}

.principal8 h2,
.principal8 h3 {
    text-align: left;
}

.principal7 img {
    width: 70%;
    height: 70%;
}

.barra {
    margin-bottom: 65px;
}

.barra2 {
    align-items: flex-end;
    text-align: left;
    padding: 1%;
    width: 60%;
    background: linear-gradient(to right, rgb(219, 219, 219), blue);
}


@media (min-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100dvh 10dvh;
        gap: 10px;
        grid-template-areas: "encabezado"
            "principal"
            "pie";
    }

    .contenedor2 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-left: 80px;
        margin-right: 80px;
        gap: 50px;
        grid-template-areas: "principal2 principal3 principal4";
    }

    .contenedor3 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80dvh;
        margin-left: 80px;
        margin-right: 80px;
        gap: 50px;
        grid-template-areas: "principal5 principal6";
    }

    .contenedor4 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80dvh;
        margin-left: 80px;
        margin-right: 80px;
        gap: 50px;
        grid-template-areas: "principal7 principal8";
    }
}

@media (max-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 10dvh;
        gap: 10px;
        grid-template-areas: "encabezado"
            "principal"
            "pie";
    }

    .principal2,
    .principal4,
    .principal3 {
        box-shadow: 1px 1px 3px black;
        gap: 10px
    }

    .principal2 h3,
    .principal4 h3,
    .principal4 h3 {
        text-align: center;
    }

    .encabezado {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor3 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        grid-template-areas: "principal5"
            "principal6";
    }

    .contenedor4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "principal7"
            "principal8";   
    }

    .contenedor3 img {
        width: 300px;
        height: 100px;
    }

    .contenedor3 p {
        text-align: justify;
    }

    .principal h2 {
        text-align: center;
        line-height: 1px;
        font-size: 14px;
    }

    .principal img {
        width: 100%;
        padding-bottom: 20px;
    }

    .logo-nav .navegacion {
        display: flex;
        border: 1px solid black;
        align-items: flex-end;
    }

    .principal8 {
        margin: 20px;

        grid-template-areas: "principal7"
            "principal8";
    }

    .principal8 h2 {
        text-align: left;
    }

    .principal7 {
    margin: 5px;
}
}